<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.golden.dao.auto.BasProductMapper">
  <resultMap id="BaseResultMap" type="com.share.golden.entity.BasProduct">
    <id column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="PRODUCT_MONEY" jdbcType="DECIMAL" property="productMoney" />
    <result column="PRODUCT_INCOME" jdbcType="VARCHAR" property="productIncome" />
    <result column="PRODUCT_TIME" jdbcType="TIMESTAMP" property="productTime" />
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="PRODUCT_WAY" jdbcType="VARCHAR" property="productWay" />
    <result column="PCOUNT" jdbcType="TIMESTAMP" property="pcount" />
    <result column="PRODUCT_PROGRESS" jdbcType="VARCHAR" property="productProgress" />
    <result column="PRODUCT_SAVEWAY" jdbcType="VARCHAR" property="productSaveway" />
    <result column="PRODUCT_RATEBEN" jdbcType="VARCHAR" property="productRateben" />
    <result column="PRODUCT_PUBLISH_TIME" jdbcType="TIMESTAMP" property="productPublishTime" />
    <result column="PRODUCT_NAME" jdbcType="VARCHAR" property="productName" />
    <result column="PRODUCT_TOTAL_MONEY" jdbcType="DECIMAL" property="productTotalMoney" />
    <result column="INVESTMENT_SCOPE" jdbcType="VARCHAR" property="investmentScope" />
    <result column="USE_OF_PROCEEDS" jdbcType="VARCHAR" property="useOfProceeds" />
    <result column="PRODUCT_STATE" jdbcType="VARCHAR" property="productState" />
    <result column="PRODUCT_PICTURE" jdbcType="VARCHAR" property="productPicture" />
    <result column="PRODUCE_ID" jdbcType="VARCHAR" property="produceId" />
    <result column="PRODUCT_DESC" jdbcType="VARCHAR" property="productDesc" />
    <result column="PRODUCT_SAFE" jdbcType="VARCHAR" property="productSafe" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    "PRODUCT_ID", "PRODUCT_MONEY", "PRODUCT_INCOME", "PRODUCT_TIME", "PRODUCT_TYPE", 
    "PRODUCT_WAY", "PCOUNT", "PRODUCT_PROGRESS", "PRODUCT_SAVEWAY", "PRODUCT_RATEBEN", 
    "PRODUCT_PUBLISH_TIME", "PRODUCT_NAME", "PRODUCT_TOTAL_MONEY", "INVESTMENT_SCOPE", 
    "USE_OF_PROCEEDS", "PRODUCT_STATE", "PRODUCT_PICTURE", "PRODUCE_ID", "PRODUCT_DESC", 
    "PRODUCT_SAFE"
  </sql>
  <select id="selectByExample" parameterType="com.share.golden.entity.BasProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from BAS_PRODUCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BAS_PRODUCT
    where "PRODUCT_ID" = #{productId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BAS_PRODUCT
    where "PRODUCT_ID" = #{productId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.share.golden.entity.BasProductExample">
    delete from BAS_PRODUCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.share.golden.entity.BasProduct">
    insert into BAS_PRODUCT ("PRODUCT_ID", "PRODUCT_MONEY", "PRODUCT_INCOME", 
      "PRODUCT_TIME", "PRODUCT_TYPE", "PRODUCT_WAY", 
      "PCOUNT", "PRODUCT_PROGRESS", "PRODUCT_SAVEWAY", 
      "PRODUCT_RATEBEN", "PRODUCT_PUBLISH_TIME", "PRODUCT_NAME", 
      "PRODUCT_TOTAL_MONEY", "INVESTMENT_SCOPE", "USE_OF_PROCEEDS", 
      "PRODUCT_STATE", "PRODUCT_PICTURE", "PRODUCE_ID", 
      "PRODUCT_DESC", "PRODUCT_SAFE")
    values (#{productId,jdbcType=VARCHAR}, #{productMoney,jdbcType=DECIMAL}, #{productIncome,jdbcType=VARCHAR}, 
      #{productTime,jdbcType=TIMESTAMP}, #{productType,jdbcType=VARCHAR}, #{productWay,jdbcType=VARCHAR}, 
      #{pcount,jdbcType=TIMESTAMP}, #{productProgress,jdbcType=VARCHAR}, #{productSaveway,jdbcType=VARCHAR}, 
      #{productRateben,jdbcType=VARCHAR}, #{productPublishTime,jdbcType=TIMESTAMP}, #{productName,jdbcType=VARCHAR}, 
      #{productTotalMoney,jdbcType=DECIMAL}, #{investmentScope,jdbcType=VARCHAR}, #{useOfProceeds,jdbcType=VARCHAR}, 
      #{productState,jdbcType=VARCHAR}, #{productPicture,jdbcType=VARCHAR}, #{produceId,jdbcType=VARCHAR}, 
      #{productDesc,jdbcType=VARCHAR}, #{productSafe,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.share.golden.entity.BasProduct">
    insert into BAS_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        "PRODUCT_ID",
      </if>
      <if test="productMoney != null">
        "PRODUCT_MONEY",
      </if>
      <if test="productIncome != null">
        "PRODUCT_INCOME",
      </if>
      <if test="productTime != null">
        "PRODUCT_TIME",
      </if>
      <if test="productType != null">
        "PRODUCT_TYPE",
      </if>
      <if test="productWay != null">
        "PRODUCT_WAY",
      </if>
      <if test="pcount != null">
        "PCOUNT",
      </if>
      <if test="productProgress != null">
        "PRODUCT_PROGRESS",
      </if>
      <if test="productSaveway != null">
        "PRODUCT_SAVEWAY",
      </if>
      <if test="productRateben != null">
        "PRODUCT_RATEBEN",
      </if>
      <if test="productPublishTime != null">
        "PRODUCT_PUBLISH_TIME",
      </if>
      <if test="productName != null">
        "PRODUCT_NAME",
      </if>
      <if test="productTotalMoney != null">
        "PRODUCT_TOTAL_MONEY",
      </if>
      <if test="investmentScope != null">
        "INVESTMENT_SCOPE",
      </if>
      <if test="useOfProceeds != null">
        "USE_OF_PROCEEDS",
      </if>
      <if test="productState != null">
        "PRODUCT_STATE",
      </if>
      <if test="productPicture != null">
        "PRODUCT_PICTURE",
      </if>
      <if test="produceId != null">
        "PRODUCE_ID",
      </if>
      <if test="productDesc != null">
        "PRODUCT_DESC",
      </if>
      <if test="productSafe != null">
        "PRODUCT_SAFE",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productMoney != null">
        #{productMoney,jdbcType=DECIMAL},
      </if>
      <if test="productIncome != null">
        #{productIncome,jdbcType=VARCHAR},
      </if>
      <if test="productTime != null">
        #{productTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="productWay != null">
        #{productWay,jdbcType=VARCHAR},
      </if>
      <if test="pcount != null">
        #{pcount,jdbcType=TIMESTAMP},
      </if>
      <if test="productProgress != null">
        #{productProgress,jdbcType=VARCHAR},
      </if>
      <if test="productSaveway != null">
        #{productSaveway,jdbcType=VARCHAR},
      </if>
      <if test="productRateben != null">
        #{productRateben,jdbcType=VARCHAR},
      </if>
      <if test="productPublishTime != null">
        #{productPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productTotalMoney != null">
        #{productTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="investmentScope != null">
        #{investmentScope,jdbcType=VARCHAR},
      </if>
      <if test="useOfProceeds != null">
        #{useOfProceeds,jdbcType=VARCHAR},
      </if>
      <if test="productState != null">
        #{productState,jdbcType=VARCHAR},
      </if>
      <if test="productPicture != null">
        #{productPicture,jdbcType=VARCHAR},
      </if>
      <if test="produceId != null">
        #{produceId,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null">
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productSafe != null">
        #{productSafe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.share.golden.entity.BasProductExample" resultType="java.lang.Long">
    select count(*) from BAS_PRODUCT
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update BAS_PRODUCT
    <set>
      <if test="record.productId != null">
        "PRODUCT_ID" = #{record.productId,jdbcType=VARCHAR},
      </if>
      <if test="record.productMoney != null">
        "PRODUCT_MONEY" = #{record.productMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.productIncome != null">
        "PRODUCT_INCOME" = #{record.productIncome,jdbcType=VARCHAR},
      </if>
      <if test="record.productTime != null">
        "PRODUCT_TIME" = #{record.productTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productType != null">
        "PRODUCT_TYPE" = #{record.productType,jdbcType=VARCHAR},
      </if>
      <if test="record.productWay != null">
        "PRODUCT_WAY" = #{record.productWay,jdbcType=VARCHAR},
      </if>
      <if test="record.pcount != null">
        "PCOUNT" = #{record.pcount,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productProgress != null">
        "PRODUCT_PROGRESS" = #{record.productProgress,jdbcType=VARCHAR},
      </if>
      <if test="record.productSaveway != null">
        "PRODUCT_SAVEWAY" = #{record.productSaveway,jdbcType=VARCHAR},
      </if>
      <if test="record.productRateben != null">
        "PRODUCT_RATEBEN" = #{record.productRateben,jdbcType=VARCHAR},
      </if>
      <if test="record.productPublishTime != null">
        "PRODUCT_PUBLISH_TIME" = #{record.productPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productName != null">
        "PRODUCT_NAME" = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.productTotalMoney != null">
        "PRODUCT_TOTAL_MONEY" = #{record.productTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.investmentScope != null">
        "INVESTMENT_SCOPE" = #{record.investmentScope,jdbcType=VARCHAR},
      </if>
      <if test="record.useOfProceeds != null">
        "USE_OF_PROCEEDS" = #{record.useOfProceeds,jdbcType=VARCHAR},
      </if>
      <if test="record.productState != null">
        "PRODUCT_STATE" = #{record.productState,jdbcType=VARCHAR},
      </if>
      <if test="record.productPicture != null">
        "PRODUCT_PICTURE" = #{record.productPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.produceId != null">
        "PRODUCE_ID" = #{record.produceId,jdbcType=VARCHAR},
      </if>
      <if test="record.productDesc != null">
        "PRODUCT_DESC" = #{record.productDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.productSafe != null">
        "PRODUCT_SAFE" = #{record.productSafe,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update BAS_PRODUCT
    set "PRODUCT_ID" = #{record.productId,jdbcType=VARCHAR},
      "PRODUCT_MONEY" = #{record.productMoney,jdbcType=DECIMAL},
      "PRODUCT_INCOME" = #{record.productIncome,jdbcType=VARCHAR},
      "PRODUCT_TIME" = #{record.productTime,jdbcType=TIMESTAMP},
      "PRODUCT_TYPE" = #{record.productType,jdbcType=VARCHAR},
      "PRODUCT_WAY" = #{record.productWay,jdbcType=VARCHAR},
      "PCOUNT" = #{record.pcount,jdbcType=TIMESTAMP},
      "PRODUCT_PROGRESS" = #{record.productProgress,jdbcType=VARCHAR},
      "PRODUCT_SAVEWAY" = #{record.productSaveway,jdbcType=VARCHAR},
      "PRODUCT_RATEBEN" = #{record.productRateben,jdbcType=VARCHAR},
      "PRODUCT_PUBLISH_TIME" = #{record.productPublishTime,jdbcType=TIMESTAMP},
      "PRODUCT_NAME" = #{record.productName,jdbcType=VARCHAR},
      "PRODUCT_TOTAL_MONEY" = #{record.productTotalMoney,jdbcType=DECIMAL},
      "INVESTMENT_SCOPE" = #{record.investmentScope,jdbcType=VARCHAR},
      "USE_OF_PROCEEDS" = #{record.useOfProceeds,jdbcType=VARCHAR},
      "PRODUCT_STATE" = #{record.productState,jdbcType=VARCHAR},
      "PRODUCT_PICTURE" = #{record.productPicture,jdbcType=VARCHAR},
      "PRODUCE_ID" = #{record.produceId,jdbcType=VARCHAR},
      "PRODUCT_DESC" = #{record.productDesc,jdbcType=VARCHAR},
      "PRODUCT_SAFE" = #{record.productSafe,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.golden.entity.BasProduct">
    update BAS_PRODUCT
    <set>
      <if test="productMoney != null">
        "PRODUCT_MONEY" = #{productMoney,jdbcType=DECIMAL},
      </if>
      <if test="productIncome != null">
        "PRODUCT_INCOME" = #{productIncome,jdbcType=VARCHAR},
      </if>
      <if test="productTime != null">
        "PRODUCT_TIME" = #{productTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productType != null">
        "PRODUCT_TYPE" = #{productType,jdbcType=VARCHAR},
      </if>
      <if test="productWay != null">
        "PRODUCT_WAY" = #{productWay,jdbcType=VARCHAR},
      </if>
      <if test="pcount != null">
        "PCOUNT" = #{pcount,jdbcType=TIMESTAMP},
      </if>
      <if test="productProgress != null">
        "PRODUCT_PROGRESS" = #{productProgress,jdbcType=VARCHAR},
      </if>
      <if test="productSaveway != null">
        "PRODUCT_SAVEWAY" = #{productSaveway,jdbcType=VARCHAR},
      </if>
      <if test="productRateben != null">
        "PRODUCT_RATEBEN" = #{productRateben,jdbcType=VARCHAR},
      </if>
      <if test="productPublishTime != null">
        "PRODUCT_PUBLISH_TIME" = #{productPublishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productName != null">
        "PRODUCT_NAME" = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productTotalMoney != null">
        "PRODUCT_TOTAL_MONEY" = #{productTotalMoney,jdbcType=DECIMAL},
      </if>
      <if test="investmentScope != null">
        "INVESTMENT_SCOPE" = #{investmentScope,jdbcType=VARCHAR},
      </if>
      <if test="useOfProceeds != null">
        "USE_OF_PROCEEDS" = #{useOfProceeds,jdbcType=VARCHAR},
      </if>
      <if test="productState != null">
        "PRODUCT_STATE" = #{productState,jdbcType=VARCHAR},
      </if>
      <if test="productPicture != null">
        "PRODUCT_PICTURE" = #{productPicture,jdbcType=VARCHAR},
      </if>
      <if test="produceId != null">
        "PRODUCE_ID" = #{produceId,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null">
        "PRODUCT_DESC" = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productSafe != null">
        "PRODUCT_SAFE" = #{productSafe,jdbcType=VARCHAR},
      </if>
    </set>
    where "PRODUCT_ID" = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.golden.entity.BasProduct">
    update BAS_PRODUCT
    set "PRODUCT_MONEY" = #{productMoney,jdbcType=DECIMAL},
      "PRODUCT_INCOME" = #{productIncome,jdbcType=VARCHAR},
      "PRODUCT_TIME" = #{productTime,jdbcType=TIMESTAMP},
      "PRODUCT_TYPE" = #{productType,jdbcType=VARCHAR},
      "PRODUCT_WAY" = #{productWay,jdbcType=VARCHAR},
      "PCOUNT" = #{pcount,jdbcType=TIMESTAMP},
      "PRODUCT_PROGRESS" = #{productProgress,jdbcType=VARCHAR},
      "PRODUCT_SAVEWAY" = #{productSaveway,jdbcType=VARCHAR},
      "PRODUCT_RATEBEN" = #{productRateben,jdbcType=VARCHAR},
      "PRODUCT_PUBLISH_TIME" = #{productPublishTime,jdbcType=TIMESTAMP},
      "PRODUCT_NAME" = #{productName,jdbcType=VARCHAR},
      "PRODUCT_TOTAL_MONEY" = #{productTotalMoney,jdbcType=DECIMAL},
      "INVESTMENT_SCOPE" = #{investmentScope,jdbcType=VARCHAR},
      "USE_OF_PROCEEDS" = #{useOfProceeds,jdbcType=VARCHAR},
      "PRODUCT_STATE" = #{productState,jdbcType=VARCHAR},
      "PRODUCT_PICTURE" = #{productPicture,jdbcType=VARCHAR},
      "PRODUCE_ID" = #{produceId,jdbcType=VARCHAR},
      "PRODUCT_DESC" = #{productDesc,jdbcType=VARCHAR},
      "PRODUCT_SAFE" = #{productSafe,jdbcType=VARCHAR}
    where "PRODUCT_ID" = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>