<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.share.golden.dao.auto.SysTradeMapper">
  <resultMap id="BaseResultMap" type="com.share.golden.entity.SysTrade">
    <id column="TRADE_ID" jdbcType="VARCHAR" property="tradeId" />
    <result column="USER_I" jdbcType="VARCHAR" property="userI" />
    <result column="TRADE_MONEY" jdbcType="VARCHAR" property="tradeMoney" />
    <result column="TRADE_TYPE" jdbcType="VARCHAR" property="tradeType" />
    <result column="TRADE_TIME" jdbcType="TIMESTAMP" property="tradeTime" />
    <result column="TRADE_REMARK" jdbcType="VARCHAR" property="tradeRemark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    "TRADE_ID", "USER_I", "TRADE_MONEY", "TRADE_TYPE", "TRADE_TIME", "TRADE_REMARK"
  </sql>
  <select id="selectByExample" parameterType="com.share.golden.entity.SysTradeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SYS_TRADE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_TRADE
    where "TRADE_ID" = #{tradeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_TRADE
    where "TRADE_ID" = #{tradeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.share.golden.entity.SysTradeExample">
    delete from SYS_TRADE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.share.golden.entity.SysTrade">
    insert into SYS_TRADE ("TRADE_ID", "USER_I", "TRADE_MONEY", 
      "TRADE_TYPE", "TRADE_TIME", "TRADE_REMARK"
      )
    values (#{tradeId,jdbcType=VARCHAR}, #{userI,jdbcType=VARCHAR}, #{tradeMoney,jdbcType=VARCHAR}, 
      #{tradeType,jdbcType=VARCHAR}, #{tradeTime,jdbcType=TIMESTAMP}, #{tradeRemark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.share.golden.entity.SysTrade">
    insert into SYS_TRADE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tradeId != null">
        "TRADE_ID",
      </if>
      <if test="userI != null">
        "USER_I",
      </if>
      <if test="tradeMoney != null">
        "TRADE_MONEY",
      </if>
      <if test="tradeType != null">
        "TRADE_TYPE",
      </if>
      <if test="tradeTime != null">
        "TRADE_TIME",
      </if>
      <if test="tradeRemark != null">
        "TRADE_REMARK",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tradeId != null">
        #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="userI != null">
        #{userI,jdbcType=VARCHAR},
      </if>
      <if test="tradeMoney != null">
        #{tradeMoney,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null">
        #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeRemark != null">
        #{tradeRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.share.golden.entity.SysTradeExample" resultType="java.lang.Long">
    select count(*) from SYS_TRADE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SYS_TRADE
    <set>
      <if test="record.tradeId != null">
        "TRADE_ID" = #{record.tradeId,jdbcType=VARCHAR},
      </if>
      <if test="record.userI != null">
        "USER_I" = #{record.userI,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeMoney != null">
        "TRADE_MONEY" = #{record.tradeMoney,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeType != null">
        "TRADE_TYPE" = #{record.tradeType,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeTime != null">
        "TRADE_TIME" = #{record.tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tradeRemark != null">
        "TRADE_REMARK" = #{record.tradeRemark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_TRADE
    set "TRADE_ID" = #{record.tradeId,jdbcType=VARCHAR},
      "USER_I" = #{record.userI,jdbcType=VARCHAR},
      "TRADE_MONEY" = #{record.tradeMoney,jdbcType=VARCHAR},
      "TRADE_TYPE" = #{record.tradeType,jdbcType=VARCHAR},
      "TRADE_TIME" = #{record.tradeTime,jdbcType=TIMESTAMP},
      "TRADE_REMARK" = #{record.tradeRemark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.share.golden.entity.SysTrade">
    update SYS_TRADE
    <set>
      <if test="userI != null">
        "USER_I" = #{userI,jdbcType=VARCHAR},
      </if>
      <if test="tradeMoney != null">
        "TRADE_MONEY" = #{tradeMoney,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        "TRADE_TYPE" = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="tradeTime != null">
        "TRADE_TIME" = #{tradeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeRemark != null">
        "TRADE_REMARK" = #{tradeRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where "TRADE_ID" = #{tradeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.share.golden.entity.SysTrade">
    update SYS_TRADE
    set "USER_I" = #{userI,jdbcType=VARCHAR},
      "TRADE_MONEY" = #{tradeMoney,jdbcType=VARCHAR},
      "TRADE_TYPE" = #{tradeType,jdbcType=VARCHAR},
      "TRADE_TIME" = #{tradeTime,jdbcType=TIMESTAMP},
      "TRADE_REMARK" = #{tradeRemark,jdbcType=VARCHAR}
    where "TRADE_ID" = #{tradeId,jdbcType=VARCHAR}
  </update>
</mapper>